  <nav class="navbar navbar-inverse bg-success">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'TodayNews' %}">The Moringa Tribune</a>
      </div>

      <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 navbar-right">

        <form class="navbar-form" role="search" action="{% url 'search_results' %}">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Article" name="article">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search">search</span></button>
            </div>
          </div>

        </form>
      </div>
      <!-- search form end -->
    </div>
  </nav>